{% extends "base.html" %}

{% block title %}Reportar Daño{% endblock %}

{% block content %}
<h2>Reportar Daño para {{ tool.name }} - Instancia {{ instance.instance_id }}</h2>
<form method="POST" action="{{ url_for('report_removal', tool_id=tool.id, instance_id=instance.instance_id) }}">
  <label for="justification">Justificación del reporte:</label>
  <textarea name="justification" id="justification" required></textarea><br>
  <button type="submit">Enviar Reporte</button>
</form>
<a href="{{ url_for('tool_detail', tool_id=tool.id) }}"><button>Volver a Inicio</button></a>
{% endblock %}